rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
       // Allow the user to read data if the document has the 'visibility'
   		 // field set to 'public'
      match /cities/{city} {
      allow read: if request.auth.uid == userId;
    	}
    }
  }
}